body {
  color: beige;
  margin: 0;
  font-family: "Courier New", 'Courier New', Courier, monospace;
    background: linear-gradient(to right, rgb(119, 231, 253), rgb(216, 34, 201));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


